@page
@using Mynt.Core.Models

@{
    ViewBag.Title = "Mynt - Dashboard";
}

@* Traders *@
<h3 class="mt-5">Traders</h3>
@if (ViewBag.traders == null || ViewBag.traders.Count == 0)
{<p>No traders!</p>}
@if (ViewBag.traders != null && ViewBag.traders.Count > 0)
{
    <div class="row">
        @foreach (Trader trader in ViewBag.traders)
        {
            <div class="col-lg-6 col-md-6 col-sm-6">
                <div class="whiteblock trader">
                    <div class="row">
                        <div class="col-md-8">
                            <p class="tradertitle">Trader @trader.Identifier</p>
                        </div>
                        <div class="col-md-4">
                            @*<a href="#" class="btn btn-success btn-xs">! Sell now</a>*@
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-5">
                            <div>Current Balance</div>
                            <b>@trader.CurrentBalance @ViewBag.quoteCurrency</b>
                        </div>
                        <div class="col-md-3">
                            <div>Profit/Loss</div>
                            <b>@trader.CurrentBalance @ViewBag.quoteCurrency</b>
                        </div>
                        <div class="col-md-4">
                            <div>Trading</div>
                            <b>?</b>
                        </div>
                    </div>
                </div>
            </div>
        }
    </div>
}



@* Closed trades *@
<h3 class="mt-5">Trade history</h3>
@if (ViewBag.closedTrades == null || ViewBag.closedTrades.Count == 0)
{<p>No closed trades!</p>}
@if (ViewBag.closedTrades != null && ViewBag.closedTrades.Count > 0)
{
    <div class="whiteblock">
        <table class="table table-hover" id="closedTrades">
            <thead>
            <tr>
                <th>Bought</th>
                <th>Coin</th>
                <th>Open rate</th>
                <th>Quantity</th>
                <th>Close rate</th>
                <th>Closed</th>
                <th>Profit</th>
                <th>Profit %</th>
                <th>Reason</th>
            </tr>
            </thead>

            @foreach (Trade trade in ViewBag.closedTrades)
            {
                <tbody>
                <tr>
                    <td>@trade.OpenDate</td>
                    <td>@trade.Market</td>
                    <td>@trade.OpenRate</td>
                    <td>@trade.Quantity</td>
                    <td>@trade.CloseRate</td>
                    <td>@trade.CloseDate</td>
                    <td>@trade.CloseProfit</td>
                    <td>@trade.CloseProfitPercentage</td>
                    <td>@trade.SellType</td>
                </tr>
                </tbody>
            }
        </table>
    </div>
}